/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111317;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

/* cursor design */
.cursor {
  z-index: 9999;
  position: fixed;
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-image: url('../images/cursor.png'); /* Path to your cursor image */
  background-size: contain; /* Ensure the image fits within the div */
  background-repeat: no-repeat;
  pointer-events: none;
  box-shadow: 0 0 20px #2697e800, 0 0 60px #2697e800, 0 0 100px #2697e800;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor::before {
  content: "";
  position: absolute;
  background: #2697e800;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: column;
    z-index: 999;
    gap: 23px;
    position: fixed;
    right: 50px;
    height: 280px;
    width: 50px;
    background-color: #0000007a;
    border-radius: 50px;
    filter: drop-shadow(0 0 0.75rem #000000);
    padding: 10px;
    padding-top: 15px;
    z-index: 3;
  }
  
  nav a {
    position: relative; /* Needed for positioning the tooltip */
    color: #fff; /* Ensure the text is visible */
    cursor: none;
  }
  
  nav a:hover i {
    cursor: none;
  }
  
  .tooltip {
    display: none; /* Initially hide the tooltip */
    position: absolute;
    right: 40px; /* Position it to the right of the icon */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    color: #ffffff9a; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 10; /* Ensure it appears above other elements */
  }
  
  nav a:hover .tooltip {
    display: block; /* Show the tooltip on hover */
  }
  
  /* Social links */
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 40px;
    z-index: 3;
  }
  
  .tooltip-link-linkedin {
    display: none; /* Initially hide the tooltip */
    position: absolute;
    left: 40px; /* Position it to the right of the icon */
    top: 20%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 10; /* Ensure it appears above other elements */
  }
  
  .social-links a:hover .tooltip-link-linkedin {
    display: block; /* Show the tooltip on hover */
  }
  
  .tooltip-link-github {
    display: none; /* Initially hide the tooltip */
    position: absolute;
    left: 40px; /* Position it to the right of the icon */
    top: 85%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 10; /* Ensure it appears above other elements */
  }
  
  .social-links a:hover .tooltip-link-github {
    display: block; /* Show the tooltip on hover */
  }
  
  .social-links a {
    cursor: none;
  }
  
  .social-links a:hover i {
    cursor: none;
  }


 /* background particle */

.header {
  height: 98%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Poiret One;
  text-align: center;
  text-shadow: 2px 1px 2px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.header .filter {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header .content-wrapper {
  z-index: 2;
}
.header .content-wrapper .content {
  position: relative;
}
.header .content-wrapper .content h1 {
  margin: 0;
  font-size: 4em;
}
.header p {
  margin-top: 0.5em;
  font-family: Josefin Sans, sans-serif;
  margin-bottom: 5px;
}
.header a {
  text-decoration: none;
  color: #fff;
  margin-left: 3px;
  margin-right: 3px;
  text-shadow: 2px 1px 2px;
}
#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: transparent;
}

@media (max-width: 768px) {
    /* Navbar section */  
    nav {
      flex-direction: row; /* Change to horizontal layout */
      position: fixed; /* Fix position to the bottom */
      bottom: 0; /* Align to the bottom */
      right: 0; /* Align to the right */
      width: 100%; /* Full width */
      height: 60px; /* Adjust height for a horizontal navbar */
      border-radius: 0; /* Remove border radius */
      justify-content: space-around; /* Space out the items */
      padding: 0; /* Remove padding */
      backdrop-filter: blur(5px);
    }
  
    nav a {
      flex: 1; /* Allow links to take equal space */
      text-align: center; /* Center align text */
      padding: 10px 0; /* Add some vertical padding */
    }
    nav a:hover .tooltip {
      display: none; /* Show the tooltip on hover */
    }
  
    /* center part */
    .gui-box{
      display: none;
    }
    /* Social links */
    .social-links {
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: 3;
    }
    .social-links a:hover .tooltip-link-github {
      display: none; /* Show the tooltip on hover */
    }
    .social-links a:hover .tooltip-link-linkedin {
      display: none; /* Show the tooltip on hover */
    }
  }  
